<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="instanty">
    <meta name="author" content="Karl Morrison <karl.morrison@instanty.se>">
    <link rel="icon" href="img/favicon.ico">
    <title>instanty</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <base href="/">
</head>

<body>
    {{{@body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-cookies.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.6.js"></script>
    <script src="js/main.js"></script>
</body>

</html>